@font-face {
   font-family: 'futura light bt';
   font-display: swap;
   src: url('file:///C:/Users/Usuario/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-04-17_225804/fonts/futura%20light%20bt/font.ttf');
}
